<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:ddl="http://www.thymeleaf.org/dandelion"
	  xmlns:dt="http://github.com/dandelion/datatables"
	  ddl:bundle-includes="bootstrap3"
	  lang="en">

	<head th:replace="fragments/headTag :: headTag"><!-- REPLACE BEFORE COMMITTING --></head>

	<body role="document">
		<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

		<div class="container" role="main">
			<div class="starter-template">
				<h2>Veterinarians</h2>
			</div>

			<div role="alert" th:if="${statusMessage}" th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>

			<table id="vetsTable" class="table table-striped" dt:table="true" dt:pagination="true" dt:export="xml">
				<thead>
					<tr>
						<th>Name</th>
						<th>Specialties</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vet : ${vets.vetList}">
						<td th:text="|${vet.firstName} ${vet.lastName}|" dt:xml="|${vet.firstName} ${vet.lastName}|">[firstName lastName]</td>
						<td>
							<span th:remove="tag" th:each="specialty : ${vet.specialties}" th:text="${specialty.name}">[specialty name]</span>
							<span th:remove="tag" th:if="${vet.nrOfSpecialties == 0}">none</span>
						</td>
					</tr>
				</tbody>
			</table>

			<br/><br/>

			<table class="table-buttons">
				<tr>
					<td><a th:href="@{'/vets/list.xml'}" href="#" class="btn btn-info">View as XML</a></td>
					<td>&nbsp;</td>
					<td><a th:href="@{'/vets/list.atom'}" href="#" class="btn btn-success">Subscribe to Atom feed</a></td>
				</tr>
			</table>
		</div>

		<table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
	</body>

</html>
