<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      ddl:bundle-includes="bootstrap-3.2.0"
      lang="en">

    <head th:replace="fragments/headTag :: headTag">REPLACE BEFORE COMMITTING</head>

    <body role="document" onload="$('input[name=description]').focus();$(function () { $('#date').datepicker({ dateFormat: 'mm/dd/yy' });});">
        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <h2>
                    <span th:if="${visit['new']}" th:remove="tag">New </span>Visit
                </h2>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Pet Name</th>
                        <th>Birth Date</th>
                        <th>Type</th>
                        <th>Owner</th>
                    </tr>
                </thead>
                <tr>
                    <td th:text="${visit.pet.name}">[name]</td>
                    <td th:text="${{visit.pet.birthDate}}">[birthdate]</td>
                    <td th:text="${visit.pet.type.name}">[type]</td>
                    <td th:text="|${visit.pet.owner.firstName} ${visit.pet.owner.lastName}|">[firstName lastName]</td>
                </tr>
            </table>

            <table class="table">
                <tr>
                    <td>
                        <b>Visit Info</b>
                        <form th:object="${visit}" th:method="${visit['new']} ? post : put" action="/owners/ownerDetails.html"
                            th:action="@{${#httpServletRequest.servletPath}}" class="form-horizontal" id="edit-visit-form">
                            <table class="table table-striped">
                                <tr>
                                    <th>
                                        <div class="control-group">
                                            <label class="control-label">Date</label>
                                        </div>
                                    </th>
                                    <td>
                                        <div class="controls" ddl:bundle-includes="jquery-ui-overcast">
                                            <input type="text" th:field="*{date}" id="date" />
                                            <span class="help-inline" th:errors="*{date}">[date error]</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="control-group">
                                            <label class="control-label">Description</label>
                                        </div>
                                    </th>
                                    <td>
                                        <div class="controls">
                                            <input type="text" th:field="*{description}" />
                                            <span class="help-inline" th:errors="*{description}">[description error]</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-actions">
                                            <a onclick="history.back(1)" class="btn btn-danger">Cancel</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-actions">
                                            <input type="hidden" name="petId" th:value="${visit.pet.id}" />
                                            <a onclick="javascript:document.getElementById('edit-visit-form').submit()" class="btn btn-success">Add Visit</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                    <td>
                        <br/>
                        <b>Previous Visits</b>
                           <table class="table table-striped">
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                            </tr>
                            <tr th:if="${!visit['new']}" th:each="visit : ${visit.pet.visits}">
                                <td th:text="${#dates.format(visit.date,'MM/dd/yyyy')}">[date]</td>
                                <td th:text="${visit.description}">[description]</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
    </body>

</html>
