<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      ddl:bundle-includes="bootstrap-3.2.0"
      lang="en">

    <head th:replace="fragments/headTag :: headTag">REPLACE BEFORE COMMITTING</head>

    <body role="document" onload="$('input[name=name]').focus();$(function () { $('#birthDate').datepicker({ dateFormat: 'mm/dd/yy' }); });">
        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <h2>
                    <span th:if="${pet['new']}" th:remove="tag">New </span> Pet
                </h2>
            </div>

            <form th:object="${pet}" th:method="${pet['new']} ? post : put" action="/owners/ownerDetails.html"
                th:action="@{${#httpServletRequest.servletPath}}" class="form-horizontal" id="edit-pet-form">
                <table class="table table-striped">
                    <tr>
                        <td>
                            <div class="control-group" id="owner">
                                <label class="control-label">Owner</label>
                            </div>
                        </td>
                        <td style="vertical-align:bottom">
                            <div class="controls" th:text="${pet.owner.firstName + ' ' + pet.owner.lastName}">[firstName lastName]</div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="control-group" th:classappend="${#fields.hasErrors('name')} ? 'error'">
                                <label class="control-label">Name</label>
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <input th:field="*{name}" type="text" />
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <span class="help-inline" th:errors="*{name}">[error]</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="control-group" th:classappend="${#fields.hasErrors('birthDate')} ? 'error'">
                                <label class="control-label">Birth Date</label>
                            </div>
                        </td>
                        <td>
                            <div class="controls" ddl:bundle-includes="jquery-ui-overcast">
                                <input th:field="*{birthDate}" type="text" id="birthDate" />
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <span class="help-inline" th:errors="*{birthDate}">[error]</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="control-group">
                                <label class="control-label">Type</label>
                            </div>
                        </td>
                        <td>
                            <select th:field="*{type}" size="5">
                                <option th:each="t : ${types}" th:text="${t.name}" th:value="${t.id}">[option]</option>
                            </select>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-actions">
                                <a onclick="history.back(1)" class="btn btn-danger">Cancel</a>
                            </div>
                        </td>
                        <td>
                            <div class="form-actions">
                                <a onclick="javascript:document.getElementById('edit-pet-form').submit()" class="btn btn-success"><span
                                    th:if="${pet['new']}">Add</span><span th:unless="${pet['new']}">Update</span> pet</a>
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
    </body>

</html>
