<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      ddl:bundle-includes="bootstrap-3.2.0"
      lang="en">

    <head th:replace="fragments/headTag :: headTag">REPLACE BEFORE COMMITTING</head>
    
    <body role="document" onload="$('input[name=firstName]').focus();">
        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <h2><span th:if="${owner['new']}" th:remove="tag">Create</span><span th:unless="${owner['new']}" th:remove="tag">Update</span> Owner</h2>
            </div>

            <form th:object="${owner}" th:method="${owner['new']} ? post : put" action="./ownerDetails.html"
                th:action="@{${#httpServletRequest.servletPath}}" class="form-horizontal" id="edit-owner-form">
                <table class="table table-striped">
                    <tr>
                        <th>
                            <div class="control-group" th:classappend="${#fields.hasErrors('firstName')} ? error">
                                <label class="control-label">First Name</label>
                            </div>
                        </th>
                        <td>
                            <div class="controls">
                                <input type="text" th:field="*{firstName}" /> <span class="help-inline" th:errors="*{firstName}">[error]</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="control-group" th:classappend="${#fields.hasErrors('lastName')} ? error">
                                <label class="control-label">Last Name</label>
                            </div>
                        </th>
                        <td>
                            <div class="controls">
                                <input type="text" th:field="*{lastName}" /> <span class="help-inline" th:errors="*{lastName}">[error]</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="control-group" th:classappend="${#fields.hasErrors('address')} ? error">
                                <label class="control-label">Address</label>
                            </div>
                        </th>
                        <td>
                            <div class="controls">
                                <input type="text" th:field="*{address}" /> <span class="help-inline" th:errors="*{address}">[error]</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="control-group" th:classappend="${#fields.hasErrors('city')} ? error">
                                <label class="control-label">City</label>
                            </div>
                        </th>
                        <td>
                            <div class="controls">
                                <input type="text" th:field="*{city}" /> <span class="help-inline" th:errors="*{city}">[error]</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="control-group" th:classappend="${#fields.hasErrors('telephone')} ? error">
                                <label class="control-label">Telephone</label>
                            </div>
                        </th>
                        <td>
                            <div class="controls">
                                <input type="text" th:field="*{telephone}" /> <span class="help-inline" th:errors="*{telephone}">[error]</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-actions">
                                <a onclick="history.back(1)" class="btn btn-danger">Cancel</a>
                            </div>
                        </td>
                        <td>
                            <div class="form-actions">
                                <a onclick="javascript:document.getElementById('edit-owner-form').submit()" class="btn btn-success"><span th:if="${owner['new']}">Create</span><span th:unless="${owner['new']}">Update</span> Owner</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
    </body>

</html>
