<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      lang="en">

<head th:replace="fragments/headTag :: headTag">
    REPLACE BEFORE COMMITTING
</head>

<body onload="$(function () { $('#date').datepicker({ dateFormat: 'mm-dd-yy' });});">
    <div class="container-fluid">

        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <h2>Owners</h2>
            </div>
Date <input type="text" id="date" />
            <table id="owners" dt:table="true" dt:pagination="true" dt:export="pdf,csv,xls,xlsx,xml">
                <thead>
                    <tr>
                        <th style="width: 150px;">Name</th>
                        <th style="width: 200px;">Address</th>
                        <th>City</th>
                        <th>Telephone</th>
                        <th style="width: 100px;">Pets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="owner : ${selections}">
                        <td><a href="ownerDetails.html" th:href="@{|/owners/${owner.id}|}"
                            th:text="|${owner.firstName} ${owner.lastName}|">Mary Smith</a></td>
                        <td th:text="${owner.address}">45, Oxford Street</td>
                        <td th:text="${owner.city}">Cambridge</td>
                        <td th:text="${owner.telephone}">555-555-555</td>
                        <td><span th:each="pet : ${owner.pets}" th:text="${pet.name}" th:remove="tag"> Rob&nbsp; </span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING
        </table>

    </div>
</body>

</html>
