<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:ddl="http://www.thymeleaf.org/dandelion"
	  xmlns:dt="http://github.com/dandelion/datatables"
	  ddl:bundle-includes="bootstrap3"
	  lang="en">

	<head th:replace="fragments/headTag :: headTag"><!-- REPLACE BEFORE COMMITTING --></head>

	<body role="document" onload="$('input[name=firstName]').focus();">
		<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

		<div class="container">
			<div class="starter-template">
				<h2><span th:if="${owner['new']}" th:remove="tag">Create</span><span th:unless="${owner['new']}" th:remove="tag">Update</span> Owner</h2>
			</div>

			<div role="alert" th:if="${statusMessage}" th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>

			<form th:object="${owner}" method="post" action="ownerDetails.html" th:action="@{${#httpServletRequest.servletPath}}"
				class="form-horizontal" id="owner-form">
				<div th:replace="fragments/hiddenErrors :: hiddenErrors">REPLACE BEFORE COMMITTING</div>

				<table class="table table-striped">
					<tr th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
						<td class="col-sm-1">
							<div class="control-group" th:classappend="${#fields.hasErrors('firstName')} ? 'error'">
								<label class="control-label">First Name</label>
							</div>
						</td>
						<td class="col-sm-2">
							<div class="controls">
								<input type="text" class="form-control" th:field="*{firstName}" />
								<label class="control-label" th:errors="*{firstName}">[error]</label>
							</div>
						</td>
					</tr>
					<tr th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'">
						<td>
							<div class="control-group" th:classappend="${#fields.hasErrors('lastName')} ? 'error'">
								<label class="control-label">Last Name</label>
							</div>
						</td>
						<td>
							<div class="controls">
								<input type="text" class="form-control" th:field="*{lastName}" />
								<label class="control-label" th:errors="*{lastName}">[error]</label>
							</div>
						</td>
					</tr>
					<tr th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
						<td>
							<div class="control-group" th:classappend="${#fields.hasErrors('address')} ? 'error'">
								<label class="control-label">Address</label>
							</div>
						</td>
						<td>
							<div class="controls">
								<input type="text" class="form-control" th:field="*{address}" />
								<label class="control-label" th:errors="*{address}">[error]</label>
							</div>
						</td>
					</tr>
					<tr th:classappend="${#fields.hasErrors('city')} ? 'has-error'">
						<td>
							<div class="control-group" th:classappend="${#fields.hasErrors('city')} ? 'error'">
								<label class="control-label">City</label>
							</div>
						</td>
						<td>
							<div class="controls">
								<input type="text" class="form-control" th:field="*{city}" />
								<label class="control-label" th:errors="*{city}">[error]</label>
							</div>
						</td>
					</tr>
					<tr th:classappend="${#fields.hasErrors('telephone')} ? 'has-error'">
						<td>
							<div class="control-group" th:classappend="${#fields.hasErrors('telephone')} ? 'error'">
								<label class="control-label">Telephone</label>
							</div>
						</td>
						<td>
							<div class="controls">
								<input type="text" class="form-control" th:field="*{telephone}" />
								<label class="control-label" th:errors="*{telephone}">[error]</label>
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-actions pull-right">
								<input type="submit" class="btn btn-success" th:value="(${owner['new']} ? 'Add' : 'Update') + ' Owner'" />
								<input type="button" th:if="${owner.id}" th:onclick="'window.location.href=\'' + @{|/owners/${owner.id}|} + '\''" class="btn btn-danger" value="Cancel" />
								<input type="button" th:unless="${owner.id}" th:onclick="'window.location.href=\'' + @{|/owners/find.html|} + '\''" class="btn btn-danger" value="Cancel" />
							</div>
						</td>
					</tr>
				</table>
			</form>
		</div>

		<table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
	</body>

</html>
