<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      ddl:bundle-includes="export-dropdown,jquery"
      ddl:bundle-excludes="bootstrap3"
      lang="en">

    <head th:replace="fragments/headTag :: headTag">
        REPLACE BEFORE COMMITTING
    </head>
    
    <body role="document">
        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container" role="main">
            <div class="starter-template">
                <h2>Owners</h2>
            </div>

            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    Export as... <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" id="exportAsCsv" tabindex="-1" href="#">CSV</a></li>
                    <li role="presentation"><a role="menuitem" id="exportAsPdf" tabindex="-1" href="#">PDF</a></li>
                    <li role="presentation"><a role="menuitem" id="exportAsXls" tabindex="-1" href="#">XLS</a></li>
                    <li role="presentation"><a role="menuitem" id="exportAsXlsx" tabindex="-1" href="#">XLSX</a></li>
                    <li role="presentation"><a role="menuitem" id="exportAsXml" tabindex="-1" href="#">XML</a></li>
                </ul>
            </div>
            
            <br/><br/>

            <div dt:conf="owners">
                <div dt:confType="export" dt:type="pdf" dt:cssClass="btn btn-sm btn-info"></div>
                <div dt:confType="export" dt:type="csv" dt:cssClass="btn btn-sm btn-info"></div>
                <div dt:confType="export" dt:type="xls" dt:cssClass="btn btn-sm btn-info"></div>
                <div dt:confType="export" dt:type="xlsx" dt:cssClass="btn btn-sm btn-info"></div>
                <div dt:confType="export" dt:type="xml" dt:cssClass="btn btn-sm btn-info"></div>
            </div>

            <table id="owners" dt:table="true" dt:pagination="true" dt:export="pdf,csv,xls,xlsx,xml" dt:dom="lEfrtip" dt:ext="colreorder">
                <thead dt:scroller="true">
                    <tr>
                        <th style="width: 10px;">ID</th>
                        <th style="width: 150px;">Name</th>
                        <th style="width: 200px;">Address</th>
                        <th>City</th>
                        <th>Telephone</th>
                        <th style="width: 100px;">Pets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="owner : ${owners}">
                        <td th:text="${owner.id}">1</td>
                        <td dt:xml="|${owner.firstName} ${owner.lastName}|"><a href="ownerDetails.html" th:href="@{|/owners/${owner.id}|}" th:text="|${owner.firstName} ${owner.lastName}|">Mary Smith</a></td>
                        <td th:text="${owner.address}">45, Oxford Street</td>
                        <td th:text="${owner.city}">Cambridge</td>
                        <td th:text="${owner.telephone}">555-555-555</td>
                        <td><span th:each="pet : ${owner.pets}" th:text="${pet.name}" th:remove="tag"> Rob&nbsp; </span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
    </body>

</html>
