<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      lang="en">

<head th:replace="fragments/headTag :: headTag">
    REPLACE BEFORE COMMITTING
</head>

<body>
    <div class="container-fluid">

        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <h2>Owners</h2>
            </div>

			<div dt:conf="owners">
               <div dt:confType="export" dt:type="pdf" dt:cssClass="btn btn-sm btn-info"></div>
               <div dt:confType="export" dt:type="csv" dt:cssClass="btn btn-sm btn-info"></div>
               <div dt:confType="export" dt:type="xls" dt:cssClass="btn btn-sm btn-info"></div>
               <div dt:confType="export" dt:type="xlsx" dt:cssClass="btn btn-sm btn-info"></div>
               <div dt:confType="export" dt:type="xml" dt:cssClass="btn btn-sm btn-info"></div>
			</div>

            <table id="owners" dt:table="true" dt:pagination="true" dt:export="pdf,csv,xls,xlsx,xml" dt:dom="lEfrtip">
                <thead>
                    <tr>
                        <th style="width: 10px;">ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="owner : ${owners}">
                        <td th:text="${owner.id}">1</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING
        </table>

    </div>
</body>

</html>
