<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      lang="en">

<head th:replace="fragments/headTag :: headTag">REPLACE BEFORE COMMITTING
</head>

<body>
    <div class="container-fluid">

        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <h1 layout:fragment="header">Messages : Create</h1>
            </div>
            <div layout:fragment="content" class="container">
                <form id="messageForm" th:action="@{/inbox/(form)}" th:object="${message}" action="#" method="post">
                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
                        <p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation error</p>
                    </div>
                    <br th:if="${#fields.hasErrors('*')}"/>
                    <table class="table table-striped">
                        <tr th:class="${#fields.hasErrors('summary')} ? 'alert-danger'" th:role="${#fields.hasErrors('summary')} ? 'alert'">
                            <th><label for="summary">Summary</label></th>
                            <td><input type="text" th:field="*{summary}"/></td>
                        </tr>
                        <tr>
                            <th><label for="text">Message</label></th>
                            <td><textarea th:field="*{text}" th:class="${#fields.hasErrors('text')} ? 'field-error'"></textarea></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-actions">
                                    <a onclick="javascript:document.getElementById('messageForm').submit()" class="btn btn-success">Create Message</a>
                                </div>
                            </td>
                            <td>
                                <div class="form-actions">
                                    <a href="/inbox" th:href="@{/inbox}" class="btn btn-danger">Cancel</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING
        </table>
    </div>
</body>

</html>
