<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      lang="en">

<head th:replace="fragments/headTag :: headTag">
    REPLACE BEFORE COMMITTING
</head>

<body>
    <div class="container-fluid">

        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <a class="brand" href="https://github.com/ultraq/thymeleaf-layout-dialect"> Thymeleaf - Layout </a>
                <ul class="nav">
                    <li><a th:href="@{/inbox/}" href="messages.html"> Messages </a></li>
                </ul>
            </div>
        <h1 layout:fragment="header">Layout</h1>
        <div layout:fragment="content">Fake content</div>
        </div>
    </div>

    <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING
    </table>
    </div>
</body>
</html>
