<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      ddl:bundle-includes="bootstrap-3.2.0"
      lang="en">

    <head th:replace="fragments/headTag :: headTag">REPLACE BEFORE COMMITTING</head>
    
    <body role="document">
        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <h1 layout:fragment="header">Messages : View all</h1>
            </div>
            <div layout:fragment="content" class="container">
                <div class="pull-right">
                    <a href="form.html" th:href="@{/inbox/(form)}">Create Message</a>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Created</td>
                            <td>Summary</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${messages.empty}">
                            <td colspan="3">No messages</td>
                        </tr>
                        <tr th:each="message : ${messages}">
                            <td th:text="${message.id}">1</td>
                            <td th:text="${#calendars.format(message.created)}">July 11, 2012 2:17:16 PM CDT</td>
                            <td><a href="view.html" th:href="@{'/inbox/' + ${message.id}}" th:text="${message.summary}"> The summary
                            </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
    </body>

</html>
