<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:ddl="http://www.thymeleaf.org/dandelion"
	  xmlns:dt="http://github.com/dandelion/datatables"
	  ddl:bundle-includes="bootstrap3"
	  lang="en">

	<head th:replace="fragments/headTag :: headTag"><!-- REPLACE BEFORE COMMITTING --></head>

	<body role="document">
		<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

		<div class="container">
			<div class="starter-template">
				<h1 layout:fragment="header">Messages : View all</h1>
			</div>

			<div role="alert" th:if="${statusMessage}" th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>

			<div layout:fragment="content" class="container">
				<div class="pull-right">
					<a href="messageForm.html" th:href="@{/messages/(form)}">Create Message</a>
				</div>
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>ID</td>
							<td>Created</td>
							<td>Summary</td>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${messages.empty}">
							<td colspan="3">No messages</td>
						</tr>
						<tr th:each="message : ${messages}">
							<td th:text="${message.id}">1</td>
							<td th:text="${#calendars.format(message.created)}">July 11, 2012 2:17:16 PM CDT</td>
							<td><a href="messageView.html" th:href="@{'/messages/' + ${message.id}}" th:text="${message.summary}"> The summary
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
	</body>

</html>
