<!DOCTYPE html>

<html lang="en">

<!--
PetClinic :: a Spring Framework demonstration
-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PetClinic :: a Spring Framework demonstration</title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../../../css/petclinic.css"
          th:href="@{/css/petclinic.css}" rel="stylesheet" />

    <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
             th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}" rel="stylesheet" />

</head>

<body th:fragment="bodyHeader">

<img th:src="@{/images/banner-graphic.png}"
     src="../../images/banner-graphic.png" width="99%" height="10"/>

<div class="navbar" style="width: 99%; style: center">
    <div class="navbar-inner">
        <ul class="nav">
            <li style="width: 40%; style: center;"><a href="/city" th:href="@{/city}"><i class="icon-plane"></i>Cities</a></li>
            <li style="width: 40%; style: center;"><a href="/inbox" th:href="@{/inbox}"><i class="icon-envelope"></i>Inbox</a></li>
        </ul>
    </div>
    <div class="navbar-inner">
        <ul class="nav">
            <li style="width: 100px;"><a href="../welcome.html" th:href="@{/}"><i class="icon-home"></i>Home</a></li>
            <li style="width: 130px;"><a href="../owners/findOwners.html" th:href="@{/owners/find.html}"><i class="icon-search"></i>Find owners</a></li>
            <li style="width: 140px;"><a href="../vets/vetList.html" th:href="@{/vets.html}"><i class="icon-th-list"></i>Veterinarians</a></li>
            <li style="width: 90px;"><a href="../exception.html" th:href="@{/oups.html}" title="trigger a RuntimeException to see how it is handled"><i class="icon-warning-sign"></i>Error</a></li>
            <li style="width: 80px;"><a href="#" title="not available yet. Work in progress!!"><i class="icon-question-sign"></i>Help</a></li>
            <li style="width: 100px;"><a href="/logout" th:href="@{/logout}" title="Logout"><i class="icon-remove"></i>Logout</a></li>
        </ul>
    </div>
</div>

</body>

</html>
