<!DOCTYPE html>

<html lang="en">

<!--
PetClinic :: a Spring Framework demonstration
-->

<head th:fragment="headTag">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PetClinic :: a Spring Framework demonstration</title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../../../css/petclinic.css"
          th:href="@{/css/petclinic.css}" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.11.0/js/jquery-ui-1.11.0.custom.js}"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.11.0/css/smoothness/jquery-ui-1.11.0.custom.css}" rel="stylesheet" />

</head>

<body>
</body>

</html>



