<head th:fragment="headTag">

    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>PetClinic :: a Spring Framework demonstration</title>

    <link href="css/petclinic.css" th:href="@{/css/petclinic.css}" rel="stylesheet" />

<!--     <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"
        th:src="@{/webjars/jquery-ui/1.11.0/jquery-ui.min.js}"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css"
        th:href="@{/webjars/jquery-ui-themes/1.10.3/overcast/jquery-ui.min.css}" rel="stylesheet" />
 -->
<!--

    IE10 viewport hack for Surface/desktop Windows 8 bug
    <script src="/js/ie10-viewport-bug-workaround.js"></script>

    Latest compiled and minified CSS
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
       th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />

    Optional theme
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
       th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}" />

    Latest compiled and minified JavaScript
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
       th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>

    <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"
        th:href="@{/webjars/datatables/1.10.1/css/jquery.dataTables.min.css}" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"
        th:src="@{/webjars/datatables/1.10.1/js/jquery.dataTables.min.js}"></script>
 -->
</head>
