<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:ddl="http://www.thymeleaf.org/dandelion"
	  xmlns:dt="http://github.com/dandelion/datatables"
	  ddl:bundle-includes="bootstrap3"
	  lang="en">

	<head th:replace="fragments/headTag :: headTag"><!-- REPLACE BEFORE COMMITTING --></head>

	<body role="document" onload="$('input[name=address]').focus();">
		<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

		<div class="container">
			<div class="starter-template">
				<h2><span th:if="${userProfile.isNew()}" th:remove="tag">Create</span><span th:unless="${userProfile.isNew()}" th:remove="tag">Update</span> User</h2>
			</div>

			<div role="alert" th:if="${statusMessage}" th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>

			<form th:object="${userProfile}" method="post" th:action="${flowExecutionUrl}" action="./userDetails.html" class="form-horizontal">
				<div th:replace="fragments/hiddenErrors :: hiddenErrors">REPLACE BEFORE COMMITTING</div>
				<table class="table table-striped">
					<tr>
						<th class="col-sm-1">
							<div class="control-group">
								<label class="control-label">Username</label>
							</div>
						</th>
						<td class="col-sm-2">
							<div class="controls">
								<input type="text" class="form-control" th:field="*{user.username}" readonly="readonly" />
							</div>
						</td>
					</tr>
					<tr th:classappend="${#fields.hasErrors('address')} ? 'has-error'">
						<td>
							<div class="control-group" th:classappend="${#fields.hasErrors('address')} ? 'error'">
								<label class="control-label">Address</label>
							</div>
						</td>
						<td>
							<div class="controls">
								<input type="text" class="form-control" th:field="*{address}" />
								<label class="control-label" th:errors="*{address}">[error]</label>
							</div>
						</td>
					</tr>
					<tr th:classappend="${#fields.hasErrors('address2')} ? 'has-error'">
						<td>
							<div class="control-group" th:classappend="${#fields.hasErrors('address2')} ? 'error'">
								<label class="control-label">Address 2</label>
							</div>
						</td>
						<td>
							<div class="controls">
								<input type="text" class="form-control" th:field="*{address2}" />
								<label class="control-label" th:errors="*{address2}">[error]</label>
							</div>
						</td>
					</tr>
					<tr th:classappend="${#fields.hasErrors('city')} ? 'has-error'">
						<td>
							<div class="control-group" th:classappend="${#fields.hasErrors('city')} ? 'error'">
								<label class="control-label">City</label>
							</div>
						</td>
						<td>
							<div class="controls">
								<input type="text" class="form-control" th:field="*{city}" />
								<label class="control-label" th:errors="*{city}">[error]</label>
							</div>
						</td>
					</tr>
					<tr th:classappend="${#fields.hasErrors('state')} ? 'has-error'">
						<td>
							<div class="control-group" th:classappend="${#fields.hasErrors('state')} ? 'error'">
								<label class="control-label">State</label>
							</div>
						</td>
						<td>
							<div class="controls">
								<input type="text" class="form-control" th:field="*{state}" />
								<label class="control-label" th:errors="*{state}">[error]</label>
							</div>
						</td>
					</tr>
					<tr th:classappend="${#fields.hasErrors('zip')} ? 'has-error'">
						<td>
							<div class="control-group" th:classappend="${#fields.hasErrors('zip')} ? 'error'">
								<label class="control-label">ZIP Code</label>
							</div>
						</td>
						<td>
							<div class="controls">
								<input type="text" class="form-control" th:field="*{zip}" />
								<label class="control-label" th:errors="*{zip}">[error]</label>
							</div>
						</td>
					</tr>
					<tr th:classappend="${#fields.hasErrors('phone')} ? 'has-error'">
						<td>
							<div class="control-group" th:classappend="${#fields.hasErrors('phone')} ? 'error'">
								<label class="control-label">Telephone</label>
							</div>
						</td>
						<td>
							<div class="controls">
								<input type="text" class="form-control" th:field="*{phone}" />
								<label class="control-label" th:errors="*{phone}">[error]</label>
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="form-actions pull-right">
								<input type="submit" name="_eventId_saveUser" value="Save Profile" class="btn btn-success"/>
								<input type="submit" name="_eventId_cancel" value="Skip" class="btn btn-danger" />
							</div>
						</td>
					</tr>
				</table>
			</form>
		</div>

		<table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
	</body>

</html>
