body {
    padding-top: 50px;
    margin-left: 100px;
    #width: 100%;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#.form-horizontal {
#    width: 100%;
#}

#.form-horizontal .control-label {
#    text-align: left;
#}

#input[type="text"] {
#    height: 25px;
#}

.#navbar .nav>li>a {
#    color: #000000;
#}
