* {
    box-sizing: border-box;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar-static-top {
  margin-bottom: 19px;
}

body {
    padding-top: 50px;
    margin-left: 100px;
#    width: 100%;
#    min-height: 2000px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#.dataTables_export {
#    position: relative;
#    float: right;
#    top: -10px;
#    right: 5px;
#    color: red;
#}

#.form-horizontal {
#    width: 100%;
#}

#.form-horizontal .control-label {
#    text-align: left;
#}

#input[type="text"] {
#    height: 25px;
#}

.#navbar .nav>li>a {
#    color: #000000;
#}
