<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ddl="http://www.thymeleaf.org/dandelion"
    xmlns:dt="http://www.thymeleaf.org/dandelion/datatables" ddl:bundle-includes="bootstrap-3.2.0" lang="en">

    <head th:replace="fragments/headTag :: headTag">REPLACE BEFORE COMMITTING</head>

    <body class="tundra">

        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
        <div id="page" class="container">

            <div id="header">
                <div id="topbar">
                    <p sec:authorize="hasRole('ROLE_USER')" th:if="${#authentication}">
                        Welcome, <span sec:authentication="name">Dear User</span> | <a href="#" th:href="@{/logout}">Logout</a>
                    </p>
                    <p sec:authorize="hasRole('ROLE_ANONYMOUS')">
                        <a href="#" th:href="@{/login}">Login</a>
                    </p>
                </div>
            </div>

            <div id="content">
                <div id="local" class="span-6">
                    <p>
                        <a href="http://www.thespringexperience.com"> <img src="../../images/diplomat.jpg"
                            th:src="@{/images/diplomat.jpg}" alt="generic hotel" />
                        </a>
                    </p>
                    <p>
                        <a href="http://www.thespringexperience.com"> <img src="../../images/springone2gx.jpeg"
                            th:src="@{/images/springone2gx.jpeg}" alt="SpringOne 2GX" />
                        </a>
                    </p>
                </div>
                <div>
                    <h1>Welcome to Spring Travel</h1>
                    <p>This sample demonstrates how to use Spring MVC and Spring Web Flow together with Thymeleaf and
                        Tiles.</p>
                    <hr />
                    <p>The key features illustrated in this sample include:</p>
                    <ul>
                        <li>A declarative navigation model enabling full browser button support and dynamic navigation
                            rules</li>
                        <li>A fine-grained state management model, including support for ConversationScope and
                            ViewScope</li>
                        <li>Modularization of web application functionality by domain use case, illustrating project
                            structure best-practices</li>
                        <li>Spring Expression Language (SpEL) integration</li>
                        <li>Spring 3 formatting annotations @DateTimeFormat, @NumberFormat</li>
                        <li>Spring MVC custom namespace</li>
                        <li>Spring Security integration</li>
                        <li>Annotated POJO @Controllers for implementing RESTful user interactions.</li>
                        <li>Declarative page authoring with Thymeleaf and its Spring MVC's integration features.</li>
                        <li>Page layout and composition with Apache Tiles</li>
                        <li>A JavaScript API for decorating HTML elements with behaviors such as Ajax, validation, and
                            effects.</li>
                        <li>A grid layout with Blueprint CSS</li>
                        <li>Exception handling support across all layers of the application</li>
                        <li>SpringSource Tool Suite integration, with support for graphical flow modeling and
                            visualization</li>
                    </ul>
                    <p>
                        <a href="hotels/search.html" th:href="@{/hotels/search}">Start your Spring Travel experience</a>
                    </p>

                </div>
            </div>

            <hr />

            <div id="footer">
                <a href="http://www.springframework.org"> <img src="../../images/powered-by-spring.png"
                    th:src="@{/resources/images/powered-by-spring.png}" alt="Powered by Spring" />
                </a>
            </div>
    </div></div>
        </div>
        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
    </body>
</html>