<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      lang="en">

<head th:replace="fragments/headTag :: headTag">
    REPLACE BEFORE COMMITTING
</head>

<body onload="$('input[name=username]').focus();">
    <div class="container-fluid">

        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">
            <div class="starter-template">
                <p th:if="${param.logout}" class="alert">You have been logged out</p>
                <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
                <h2 th:text="#{welcome}">Please log in:</h2>
                <form name="form" th:action="@{/login}" action="/login" method="POST">
                    <fieldset>
                        <input type="text" name="username" value="" placeholder="Username" /> <input type="password" name="password"
                            placeholder="Password" />
                        <br/><br/>
                        <label for="remember-me">Remember Me?</label> <input type="checkbox" id="remember-me" name="remember-me" />
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    </fieldset>
                    <br/>
                    <input type="submit" id="login" value="Login" class="btn btn-sm btn-default" />
                </form>
            </div>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
    </div>
</body>

</html>
