<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      lang="en">

<head th:replace="fragments/headTag :: headTag">
    REPLACE BEFORE COMMITTING
</head>

<body>
    <div class="container-fluid">
        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">

            <div class="starter-template">
                <h2 th:text="#{welcome}">Welcome!</h2>

                <img src="../../images/pets.png" th:src="@{/images/pets.png}" />
            </div>
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>

    </div>
</body>

</html>
