<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ddl="http://www.thymeleaf.org/dandelion"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      ddl:bundle-includes="bootstrap-3.2.0"
      lang="en">

    <head th:replace="fragments/headTag :: headTag">REPLACE BEFORE COMMITTING</head>

    <body role="document">
        <div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

        <div class="container">

            <div class="starter-template">
                <div role="alert" th:if="${statusMessage}" th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}" />
                <div role="alert" th:if="${param.logout}" class="alert alert-info">You have been logged out</div>
                <div role="alert" th:if="${param.error}" class="alert alert-error">There was an error, please try again.</div>

                <h2 th:text="#{welcome}">Welcome!</h2>

                <img src="/images/pets.png" th:src="@{/images/pets.png}" />
            </div>

            <div role="alert" th:if="${statusMessage}" th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}" />
        </div>

        <table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
    </body>

</html>
